@model P2_MVC_.Models.EspecProdutos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EspecProdutos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEspec">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
