@model ProjAPIP2.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h1>Funcionario</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailFuncionário)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailFuncionário)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
